*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: white;
}
.nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
.socialmedia{
    display: flex;
    gap: 20px;
}
main{
    padding: 20px;
}
a{
    font-size: 40px;
    color: #b0a1b8;
    display: flex;
    text-decoration: none;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.recommended_yt{
    display: flex;
    border: #9e6ea9;
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
h1{
    padding: 20px;
}
.ytimg{
    border: 2px solid #9e6ea9;
    border-radius: 20px;
    width: auto;
    height: 200px;
}
@media screen and (max-width: 600px) {
    .ytimg{
        height: 100px;
        overflow: hidden;
    }
    a{
        font-size: 12px;
    }
    main{
        padding: 2px;
    }
}